<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css" />
    </head>
    <body>
        <h> Example Node.js Project </h>
        <p> New Line Added 1 </p>
        <p> New Line Added 2 </p>
        <p> New Line Added 3 </p>
    </body>
</html>
